/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #d0dbdf;
}

/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #228CD6;
}

#logo {
  object-fit: cover;
}

#logo img {
  display: block;
  margin: 0 auto;
  width: 9rem;
}

#navBar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #228CD6;
}

input[type="submit"] {
  padding: 10px;
  background-color: #228CD6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

input[type="submit"].top-buttons__button:hover {
  background-color: #0069d9;
}

#navBar form.top-buttons__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  background-color: transparent;
  padding: 10px;
  margin: 0 10px;
}

#navBar input[type="submit"].top-buttons__button {
  background-color: transparent;
  color: #fff;
  border: 1px solid white;
  padding: 20px 35px;
  margin: 10px;
  cursor: pointer;
}

/*hover bianco*/
#navBar input[type="submit"].top-buttons__button:hover {
  background-color: white;
  color: #228CD6;
  transform: translate3d(0, 0, 0);
}

/* Stile per i bottoni in alto */
.top-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.top-buttons__button {
  padding: 10px;
  background-color: #228CD6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.top-buttons__button:hover {
  background-color: #0069d9;
}

/* Search form styles */
.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 75%;
  margin: 0 auto;
  margin-top: 20px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 25px;
  overflow: hidden;
  background-color : #f2f2f2;
}

.search__input {
  width: 100%;
  padding: 10px;
  border: none;
  box-sizing: border-box;
  outline: none;
  font-size: 16px;
  background-color: #f2f2f2;
  padding-right: 40rem;
}

.search__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: none;
  background-color: transparent;
  color: #228CD6;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 10px;
}

.search__button:hover {
  background-color: #ddd;
}

.search__icon {
  font-size: 20px;
  margin-right: 5px;
}

.search__close {
  display: none;
}

@media (max-width: 768px) {
  /* Adjust layout for screens smaller than 768px */
  header {
    flex-direction: column;
    align-items: center;
  }

  #logo {
    margin-bottom: 10px;
  }

  #navBar {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  #navBar input[type="submit"].top-buttons__button {
    margin: 10px 0;
    padding: 10px 20px;
  }

  .container {
    width: 100%;
  }

  .search {
    flex-direction: column;
    width: 100%;
  }

  .search__input {
    padding: 10px;
    padding-right: 2rem;
  }

  .search__button {
    margin: 10px 0;
  }
}

@media (max-width: 480px) {
  /* Adjust layout for screens smaller than 480px */
  #logo img {
    width: 6rem;
  }

  .top-buttons__button {
    padding: 10px;
    font-size: 14px;
  }
} 