/* Reset CSS */
body, h1, h2, p, form, img {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #fff; /* Bianco */
  color: #333; /* Grigio scuro */
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: #3498db; /* Azzurro */
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.logo {
  max-width: 80px; /* Riduci la larghezza massima del logo */
  margin-bottom: 10px; /* Aggiungi margine inferiore per separare il logo dagli altri elementi */
}

#logo {
  flex: 1 1 30rem;
}

/* Navigation Bar Styles */
#navBar {
  background-color: #333; /* Grigio scuro */
  overflow: hidden;
  flex: 1 1 30rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#navBar form {
  float: left;
}

#navBar input[type="submit"] {
  background-color: #3498db; /* Azzurro */
  color: #fff;
  border: none;
  padding: 10px 15px;
  margin: 10px;
  cursor: pointer;
}

#navBar input[type="submit"]:hover {
  background-color: #2980b9; /* Azzurro più scuro */
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  #navBar form {
    float: none;
    display: block;
    text-align: center;
  }

  #navBar input[type="submit"] {
    display: block;
    margin: 10px auto;
  }

  /* Burger Menu Styles */
  .burger-menu {
    display: none;
    cursor: pointer;
  }

  .burger-menu div {
    width: 30px;
    height: 3px;
    background-color: #3498db; /* Azzurro */
    margin: 6px 0;
  }

  /* Show burger menu when screen size is smaller */
  .nav-links {
    display: none;
    text-align: center;
  }

  .nav-links a {
    display: block;
    padding: 10px;
  }

  .show-menu .nav-links {
    display: block;
  }
}
