h2{
	color : #228CD6;
}

p{
	color : #228CD6;
	font-size: 16px;
    font-weight: bold
}

.ultimeAggiunte {
  margin-top: 50px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#IndexProductContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

#IndexProduct {
  width: 250px;
  margin: 10px;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#IndexProduct img {
  border-radius: 5px;
  margin-bottom: 10px;
}

#IndexProduct p {
  margin: 5px 0;
}

#IndexProduct form {
  margin-top: 10px;
}

#IndexProduct input[type="submit"] {
  padding: 10px;
  background-color: #228CD6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

#IndexProduct input[type="submit"]:hover {
  background-color: #0069d9;
}