h2{
	text-align-last: center;
}

#dettagliProdotto {
  align-items: center;
  justify-content: flex-start;
  background-color: #f2f2f2;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  min-height : 30vh;
  
}

#dettagliProdotto img {
  margin-right: 20px;
  margin-left: 10px;
  border: 1px solid #f2f2f2;
  background-color: #d0dbdf;
  padding: 0.7rem;
  border-radius: 15px;
}

#dettagliProdotto .nome {
  margin-left: auto;
  margin-right: 0;
}

#dettagliProdotto .prezzo {
  margin-left: auto;
  margin-right: 0;
}



#descrizione {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
}

#consigliatiProductContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

#consigliatiProduct {
  width: 250px;
  margin: 10px;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#consigliatiProduct img {
  border-radius: 5px;
  margin-bottom: 10px;
}

#consigliatiProduct p {
  margin: 5px 0;
}

#consigliatiProduct form {
  margin-top: 10px;
}

#consigliatiProduct input[type="submit"] {
  padding: 10px;
  background-color: #228CD6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.consigliatiProduct .nome {
  float: right;
}

.consigliatiProduct .prezzo {
  float: right;
  font-weight: bold;
}

.consigliatiProduct .prezzo::before {
  content: "€";
  color: #228CD6;
}

.consigliatiProduct .prezzo::after {
  content: ",00";
  color: #228CD6;
}

.consigliatiProduct .prezzo {
  color: #228CD6;
}

#aggiungiAlCarrello {
  margin-top: 20px;
}